@charset "UTF-8";


.sub-calendar {
    margin: 30px auto;

    h2 {
        margin-bottom: 15px;
    }

    &-inner {
        position: relative;
        width: 100%;
        min-height: 480px;
        margin-left: auto;
        margin-right: auto;

        &:before {
            content: "";
            display: block;
            padding-top: 180%;
            /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: 400px;
            outline: none;
        }
    }

    .color__list {
        margin: 30px auto;

        h3 {
            margin: 20px auto;
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5%;
        }

        li {
            width: 100%;
            display: flex;
            margin: 5px auto;
        }

        .color__list-box {
            width: 20px;
            height: 20px;
            border-radius: 30%;
        }

        p {
            margin-left: 10px;
        }

        .color__list1 {
            background-color: #C7561D;
        }

        .color__list2 {
            background-color: #668CD8;
        }

        .color__list3 {
            background-color: #AD2D2D;
        }

        .color__list4 {
            background-color: #41A587;
        }

        .color__list5 {
            background-color: #9643A5;
        }

        .color__list6 {
            background-color: #E0C240;
        }

        .color__list7 {
            background-color: #8C66D8;
        }

        .color__list8 {
            background-color: #C4A883;
        }
    }
}

@media (min-width: 600px) {
    .sub-calendar {
        margin: 40px auto;

        h2 {
            margin-bottom: 30px;
        }

        .sub-calendar-inner:before {
            padding-top: 120%;
            /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
        }

        .color__list {
            margin: 40px auto;
        }
    }
}

@media (min-width: 768px) {
    .sub-calendar{
        .sub-calendar-inner:before {
            padding-top: 90%;
            /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
        }
        .color__list ul {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (min-width: 960px) {
    .sub-calendar {
        margin: 50px auto;

        .sub-calendar-inner:before {
            padding-top: 75%;
            /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
        }

        .color__list {
            margin: 50px auto;

            ul {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}

@media (min-width: 1024px) {}
