@charset "UTF-8";

@use "../mixins" as m;

@include m.size-sm {}

@include m.size-md {}

@include m.size-lg {}

footer {
    box-sizing: border-box;
    border-top: dotted 1px #333;
    height: 30px;

    @include m.size-md {
        height: 40px;
    }

    @include m.size-lg {
        height: 40px;
    }

    .footer-inner {
        small {
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 30px;
            color: #333;

            @include m.size-md {
                font-size: 12px;
                line-height: 40px;
            }

            @include m.size-lg {
                font-size: 12px;
                line-height: 40px;
            }
        }
    }
}