@charset "UTF-8";

@use "../mixins" as m;

header {
    top: 0;
    padding-top: 10px;
    width: 100%;
    border-bottom: dotted 1px #333;
    position: fixed;
    background-color: #fff;
    z-index: 30;

    @include m.size-md {
        padding-top: 20px;
    }

    @include m.size-lg {
        padding-top: 0;
    }

    .header-inner {
        @include m.size-lg {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px;
            color: #333;
            display: inline-block;

            @include m.size-lg {
                font-size: 38px;
                line-height: 70px;
                /* headerの高さ */
                width: 45%;
                text-align: left;
            }
        }

        nav {
            padding: 10px 0;

            @include m.size-sm {
                width: 80%;
                margin: auto;
            }

            @include m.size-md {
                padding: 15px 0;
            }

            @include m.size-lg {
                width: 55%;
            }
        }
        ul {
            display: flex;
            justify-content: space-between;

            @include m.size-lg {
                justify-content: flex-end;
            }

            li {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;

                @include m.size-sm {
                    font-size: 20px;
                }

                @include m.size-md {
                    font-size: 24px;
                }

                @include m.size-lg {
                    margin-left: 30px;
                    font-size: 20px;
                }
            }
        }
    }
}
