/* 子ページ共通(トップの画像の部分) --------------------------------------------------------- */
.pro-top,
.abo-top,
.cal-top,
.con-top {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.pro-top img,
.abo-top img,
.cal-top img,
.con-top img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.pro-top strong,
.abo-top strong,
.cal-top strong,
.con-top strong {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7)
}

@media (min-width: 600px) {

    .pro-top strong,
    .abo-top strong,
    .cal-top strong,
    .con-top strong {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (min-width: 768px) {

    .pro-top strong,
    .abo-top strong,
    .cal-top strong,
    .con-top strong {
        font-size: 48px;
        line-height: 48px;
    }
}

@media (min-width: 960px) {

    .pro-top strong,
    .abo-top strong,
    .cal-top strong,
    .con-top strong {
        font-size: 62px;
        line-height: 62px;
    }
}

@media (min-width: 1024px) {}