@charset "UTF-8";

/* 共通部分 --------------------------------------------------------- */
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "ten-mincho", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    width: 100%;
}

.red-word {
    color: #FF6070 !important;
    font-weight: 700;
}

.wrapper {
    width: 90%;
    max-width: 1024px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
    color: #333;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

@media (min-width:600px) {
    h2 {
        font-size: 28px;
        line-height: 32px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    h3 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (min-width: 960px) {
    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }
}