@charset "UTF-8";




.error {
    height: 85vh;
    // margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;

    &-title {

    }

    &-img {
        width: 50%;
        height: auto;
    }
    p {
        width: 80%;
    }
    button {
        font-size: 16px;
        font-weight: 900;
        color: #333;
        padding: 1em;
        border: 2px solid #333;
        border-radius: 5px;
        box-shadow: 0px 4px 16px 0px #ccc;
        /* 影指定 */
        outline: none;

        &:hover {
            background-color: #666;
            color: #fff;
            border-color: #555;
        }
    }
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 960px) {
    .error {
        &-img {
            width: 40%;
        }
    }
}

@media (min-width: 1024px) {}