/* header */
header {
    top: 0;
    padding-top: 10px;
    width: 100%;
    border-bottom: dotted 1px #333;
    position: fixed;
    background-color: #fff;
    z-index: 30;

    .header-inner h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #333;
        display: inline-block;
    }

    .header-inner nav {
        padding: 10px 0;
    }

    .header-inner ul {
        display: flex;
        justify-content: space-between;
    }

    .header-inner ul li {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width:600px) {
    /* header */
    header {
        .header-inner nav {
            width: 80%;
            margin: auto;
        }

        .header-inner ul li {
            font-size: 20px;
        }
    }
}

@media (min-width: 768px) {
    /* header */
    header {
        padding-top: 20px;

        .header-inner nav {
            padding: 15px 0;
        }

        .header-inner ul li {
            font-size: 24px;
        }
    }
}

@media (min-width: 960px) {
    /* header */
    header {
        padding-top: 0;

        .header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-inner h1 {
            font-size: 38px;
            line-height: 70px;
            /* headerの高さ */
            width: 45%;
            text-align: left;
        }

        .header-inner nav {
            width: 55%;
        }

        .header-inner ul {
            justify-content: flex-end;
        }

        .header-inner ul li {
            margin-left: 30px;
            font-size: 20px;
        }
    }
}

@media(min-width:1024px) {}


/* headerの高さ分の余白 */
.empty {
    padding-top: 90px;
}

@media (min-width: 600px) {}

@media (min-width: 768px) {
    .empty {
        padding-top: 110px;
    }
}

@media (min-width: 960px) {
    .empty {
        padding-top: 70px;
    }
}

@media (min-width: 1024px) {}
