@charset "UTF-8";


/* 文字サイズ一覧
    h1:サイトタイトル
    h2:子ページタイトル
    h3:項目見出し,コページサブタイトル
    h4:
*/
/* 配色一覧
まふまふ            #f8f8ff
そらる              #0000ff
うらたぬき          #00ff00;
となりの坂田        #dc143c;
天月               #ff0000;
luz               #fffaf0;
志麻               #8a2be2;
センラ             #ffff00;

*/


/* index.html -------------------------------------------------------------------------------- */

/* request */
.request {
    margin: 30px auto;
}

.request h2 {
    border-bottom: solid 1px #333;
    margin-bottom: 15px;
    width: 30%;
    text-align: left;
}

.request p {
    text-align: left;
    margin: 2px 0;
}

.request a {
    font-size: 14px;
    cursor: pointer;
}

.request a:hover {
    border-bottom: solid 2px #FF6070;
}

/* 2020/03/31追加 */
/* quiz */
.quiz {
    margin: 30px auto;
}

.quiz h2 {
    border-bottom: solid 1px #333;
    margin-bottom: 15px;
    width: 45%;
    text-align: left;
}

.quiz h3 {
    /* text-align: left; */
    /* text-indent: 1rem; */
    margin: 2px 0;
}

.quiz p {
    text-align: left;
    margin: 2px 0;
}

.quiz .quiz-btn {
    margin: 20px 0;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #fff;
    /*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);*/
}

.quiz .quiz-btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

/* notice */
.notice {
    margin: 30px auto;
    text-align: left;
    background: repeating-linear-gradient(45deg, red, red 5px, yellow 5px, yellow 10px);
    padding: 5px;
    /*線の太さ*/
    box-sizing: border-box;
    max-width: 500px;
}

.notice .notice-inner {
    background-color: #fff;
    padding: 2px;
}

.notice a {
    display: inline-block;
    font-size: 14px;
}

.notice a:hover {
    border-bottom: solid 2px #FF6070;
}

/* artist */
.artist {
    margin: 30px auto;
}

.artist h2 {
    border-bottom: solid 1px #333;
    width: 60%;
    margin-bottom: 15px;
    text-align: left;
}

.artist .artist__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist .artist__list__block {
    width: 50%;
    margin: 10px auto 20px;
}

.artist .artist__list__block-hp {
    width: 50%;
    height: auto;
}

.artist .artist__list__block__profileimg {
    width: 100%;
    border-radius: 50%;
    border: solid 4px #333;
    box-sizing: border-box;
}

.artist .artist__list__block__detail h3 {
    display: inline-block;
    width: auto;
}

.artist .artist__list__block__detail__set {
    display: none;
}

.artist .artist__list .ar_mafumafu:hover {
    border: solid 4px #f8f8ff;
    opacity: 0.5;
}

.artist .artist__list .ar_soraru:hover {
    border: solid 4px #0000ff;
    opacity: 0.7;
}

.artist .artist__list .ar_uratanuki:hover {
    border: solid 4px #00ff00;
    opacity: 0.7;
}

.artist .artist__list .ar_sakata:hover {
    border: solid 4px #dc143c;
    opacity: 0.7;
}

.artist .artist__list .ar_amatsuki:hover {
    border: solid 4px #ff0000;
    opacity: 0.7;
}

.artist .artist__list .ar_luz:hover {
    border: solid 4px #fffaf0;
    opacity: 0.5;
}

.artist .artist__list .ar_shima:hover {
    border: solid 4px #8a2be2;
    opacity: 0.7;
}

.artist .artist__list .ar_senra:hover {
    border: solid 4px #ffff00;
    opacity: 0.7;
}

/* howto */
.howto {
    margin: 30px auto;
}

.howto h2 {
    border-bottom: solid 1px #333;
    width: 80%;
    margin-bottom: 15px;
    text-align: left;
}

.howto p {
    text-align: left;
}

.howto li {
    list-style: decimal;
}

.howto .howto__photo1,
.howto .howto__photo2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.howto .howto__photo1 img,
.howto .howto__photo2 img {
    width: 95%;
    height: auto;
    margin: 20px 0;
}

/* thanks */
.thanks {
    margin: 30px auto;
}

.thanks h2 {
    border-bottom: solid 1px #333;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.thanks p {
    text-align: left;
}

.thanks .thanks__list {
    margin: 40px auto;
}

.thanks .thanks__list__block {
    width: 70%;
    padding: 10px;
    margin: 40px auto;
    border: solid 1px #333;
    position: relative;
}

.thanks .thanks__list__block h3 {
    top: -12px;
    /* -(14px/2 + 10px/2)*/
    position: absolute;
    background-color: #fff;
    padding: 0 8px;
}

.thanks .thanks__list__block-ltitle {
    left: 9px;
}

.thanks .thanks__list__block-rtitle {
    right: 9px;
}

.thanks .thanks__list__block-inner {
    margin: 5px 0;
}

.thanks .thanks__list__block-inner p {
    width: 80%;
    margin: 5px auto;
}

.thanks .thanks__list__block-inner a {}

.thanks .thanks__list__block-inner a:hover {
    color: #FF6070;
    font-weight: 900;
}


@media (min-width:600px) {
    /* request */
    .request {
        margin: 40px auto;
    }

    .request h2 {
        margin-bottom: 20px;
    }

    .request p {
        margin: 3px 0;
    }

    .request span {
        font-size: 18px;
    }

    /* quiz */
    .quiz {
        margin: 40px auto;
    }

    .quiz h2 {
        margin-bottom: 20px;
    }

    .quiz p {
        margin: 3px 0;
    }

    .quiz .quiz-btn {
        margin-top: 20px;
        padding: 1em 1.5em;
        font-size: 16px;
        line-height: 20px;
    }

    /* notice */
    .notice {
        margin: 40px auto;
        padding: 5px;
        /*線の太さ*/
    }

    .notice .notice-inner {
        padding: 2px;
    }

    .notice a {
        font-size: 18px;
    }

    /* artist */
    .artist {
        margin: 40px auto;
    }

    .artist h2 {
        margin-bottom: 20px;
    }

    .artist .artist__list__block {
        width: 40%;
    }

    /* howto */
    .howto {
        margin: 40px auto;
    }

    .howto h2 {
        margin-bottom: 20px;
    }

    .howto li {
        font-size: 16px;
        line-height: 20px;
    }

    .howto .howto__photo1 img,
    .howto .howto__photo2 img {
        margin: 30px auto;
    }

    /* thanks */
    .thanks {
        margin: 40px auto;
    }

    .thanks h2 {
        margin-bottom: 20px;
    }

    .thanks .thanks__list {
        margin: 60px auto;
    }

    .thanks .thanks__list__block {
        padding: 10px;
        margin: 50px auto;
        position: relative;
    }

    .thanks .thanks__list__block h3 {
        top: -14px;
        /* -(18px/2 + 10px/2)*/
        padding: 0 10px;
    }

    .thanks .thanks__list__block-ltitle {
        left: 10px;
    }

    .thanks .thanks__list__block-rtitle {
        right: 10px;
    }

    .thanks .thanks__list__block-inner {
        margin: 10px 0;
    }

}

@media (min-width: 768px) {
    /* request */
    .request p {
        margin: 4px 0;
    }

    .request span {
        font-size: 20px;
    }

    /* quiz */
    .quiz {
        margin: 40px auto;
    }

    .quiz h2 {}

    .quiz p {
        margin: 4px 0;
    }

    .quiz .quiz-btn {
        margin-top: 30px;
    }

    /* notice */
    .notice {
        max-width: 600px;
        padding: 10px;
        /*線の太さ*/
    }

    .notice .notice-inner {
        padding: 5px;
    }

    .notice a {
        margin-top: 6px;
        font-size: 20px;
    }

    .notice a:hover {
        border-bottom: solid 2px #FF6070;
    }

    /* artist */
    .artist .artist__list__block {
        display: flex;
        margin: 20px auto 40px;
    }

    .artist .artist__list__block-hp {
        width: 30%;
    }

    .artist .artist__list__block__profileimg {
        width: 100%;
        height: 100%;
    }

    .artist .artist__list__block__detail {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .artist .artist__list__block__detail h3 {
        text-align: left;
    }

    .artist .artist__list__block__detail__set {
        display: flex;
    }

    .artist .artist__list__block__detail__set i {
        color: #000;
        font-size: 32px;
        margin-right: 8px;
    }

    .artist .niconico-tv {
        width: auto;
        height: 32px;
        margin-right: 8px;
    }

    .artist .artist__list__block__detail__set .fa-youtube:hover {
        color: rgba(255, 0, 0, 1);
    }

    .artist .artist__list__block__detail__set .fa-twitter:hover {
        color: rgba(28, 161, 242, 1);
    }

    .artist .artist__list__block__detail__set .fa-calendar-alt:hover {
        color: rgba(204, 12, 204, 1);
    }

    .artist .niconico-tv:hover {
        opacity: 0.5;
    }

    /* howto */
    .howto .howto__photo1,
    .howto .howto__photo2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .howto .howto__photo1 img,
    .howto .howto__photo2 img {
        margin: 40px auto;
    }

    /* thanks */
    .thanks .thanks__list__block {
        width: 80%;
        margin: 60px auto;
    }

    .thanks .thanks__list__block h3 {
        top: -17px;
        /* -(24px/2 + 10px/2)*/
    }

    .thanks .thanks__list__block-ltitle {
        left: 12px;
    }

    .thanks .thanks__list__block-rtitle {
        right: 12px;
    }
}

@media (min-width: 960px) {
    /* request */
    .request {
        margin: 50px auto;
    }

    .request span:hover {
        border-bottom: solid 3px #FF6070;
    }

    /* quiz */
    .quiz {
        margin: 50px auto;
    }

    /* notice */
    .notice {
        margin: 80px auto;
        padding: 8px;
        /*線の太さ*/
        max-width: 720px;
    }

    .notice p {
        font-size: 24px;
        line-height: 32px;
    }

    .notice .big-word {
        font-size: 32px;
        line-height: 32px;
    }

    .notice a {
        font-size: 32px;
        line-height: 32px;
    }

    .notice a:hover {
        border-bottom: solid 3px #FF6070;
    }

    /* artist */
    .artist {
        margin: 50px auto;
    }

    .artist .artist__list__block__detail__set i {
        font-size: 40px;
        margin-right: 10px;
    }

    .artist .niconico-tv {
        height: 40px;
        margin-right: 10px;
    }

    /* howto */
    .howto {
        margin: 50px auto;
    }

    .howto li {
        list-style: decimal;
    }

    .howto .howto-inner {
        display: flex;
        align-items: flex-start;
        margin: 50px auto;
    }

    .howto p {
        width: 30%;
        font-size: 20px;
        line-height: 32px;
    }

    .howto .howto__photo1,
    .howto .howto__photo2 {
        width: 70%;
    }

    .howto .howto__photo1 img,
    .howto .howto__photo2 img {
        margin: 0 10px;
    }

    /* thanks */
    .thanks {
        margin: 50px auto;
    }
}

@media(min-width:1024px) {}

