.subpage-top {
    position: relative;
    overflow: hidden;

}

.subpage-top img {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.subpage-top strong {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 8px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}


@media (min-width: 600px) {
    .subpage-top strong {
        font-size: 40px;
        line-height: 40px;
    }
}

@media (min-width: 768px) {
    .subpage-top img {
        height: 50vh;
        width: 100%;
    }
    .subpage-top strong {
        font-size: 48px;
        line-height: 48px;
        padding: 12px;
    }
}

@media (min-width: 1024px) {
    .subpage-top strong {
        font-size: 62px;
        line-height: 62px;
    }
}