@charset "UTF-8";

/* 配色一覧
まふまふ            #f8f8ff
そらる              #0000ff
うらたぬき          #00ff00;
となりの坂田        #dc143c;
天月               #ff0000;
luz               #fffaf0;
志麻               #8a2be2;
センラ             #ffff00;

*/

$color-mafumafu: #f8f8ff;

$color-soraru: #0000ff;

$color-uratanuki: #00ff00;

$color-sakata: #dc143c;

$color-amatsuki: #ff0000;

$color-shima: #8a2be2;

$color-senra: #ffff00;
