@charset "UTF-8";

@use "../mixins" as m;

@include m.size-sm {}

@include m.size-md {}

@include m.size-lg {}

#about {
    @include m.child-common-style();

    .description {
        margin: 30px auto;

        @include m.size-sm {
            margin: 40px auto;
        }

        @include m.size-lg {
            margin: 50px auto;
        }

        h2 {
            border-bottom: solid 1px #333;
            margin-bottom: 15px;
            width: 70%;
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    /* howto */
    .howto {
        margin: 30px auto;

        @include m.size-sm {
            margin: 40px auto;
        }

        @include m.size-lg {
            margin: 50px auto;
        }

        h2 {
            border-bottom: solid 1px #333;
            width: 80%;
            margin-bottom: 15px;
            text-align: left;

            @include m.size-sm {
                margin-bottom: 20px;
            }
        }

        p {
            text-align: left;

            @include m.size-lg {
                width: 30%;
                font-size: 20px;
                line-height: 32px;
            }
        }

        li {
            list-style: decimal;

            @include m.size-sm {
                font-size: 16px;
                line-height: 20px;
            }

            @include m.size-lg {
                list-style: decimal;
            }
        }

        .howto-inner {
            @include m.size-lg {
                display: flex;
                align-items: flex-start;
                margin: 50px auto;
            }
        }
    }

    .howto__photo1,
    .howto__photo2 {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include m.size-md {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include m.size-lg {
            width: 70%;
        }

        img {
            width: 95%;
            height: auto;
            margin: 20px 0;

            @include m.size-sm {
                margin: 30px auto;
            }

            @include m.size-md {
                margin: 40px auto;
            }

            @include m.size-lg {
                margin: 0 10px;
            }
        }
    }

    .abo-howto h2 {
        border-bottom: solid 1px #333;
        margin-bottom: 15px;
        width: 80%;
        text-align: left;
    }


}